.whatsapp-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex
;
  justify-content: center;
  align-items: center;
}
.whatsapp-img{
  position: fixed;
  bottom: 130px;
  right: 30px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}